<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Agregar nuevo Movimiento</title>
  <style>
        a{
            color:white;
        }
        a:hover {
            color: black;
            text-decoration:none;
        }
    </style>
</head>
<body>

<div class="container">
  <h1> Agregue aqui los datos del Movimiento</h1>
  <br>
  <!--Crear formulario para llenar los datos de movimiento y guardarlo en el objeto emp -->
  <form th:action="@{/GuardarMovimiento}" th:object="${emp}" method="post">
    <!--Campo para cantidad de dinero-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="montoMovimiento">Monto del Movimiento:</label>
        <div class="col-md-6">
          <input type="number" th:field="*{montoMovimiento}" class="form-control" id="montoMovimiento" required="required"></div>
      </div>
    </div>

    <!--Campo para tipo de movimiento-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="tipoMonto">Tipo de Movimiento:</label>
        <div class="col-md-6">
          <input list="listas" th:field="*{tipoMonto}" class="form-control" id="tipoMonto" required="required"></div>
      </div>
    </div>
    <datalist id="listas">
      <option value=ingreso>
      <option value=gasto>

    </datalist>

    <!--Campo para el concepto del movimiento-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="conceptoMovimiento">Concepto del Movimiento:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{conceptoMovimiento}" class="form-control" id="conceptoMovimiento" required="required"></div>
      </div>
    </div>

    <!--Campo para NIT emleado-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="empleado">Id de la Empleado:</label>
        <div class="col-md-6">
          <input type="number" th:field="*{empleado}" class="form-control" id="empleado" required="required"></div>
      </div>
    </div>

    <!--Campo para NIT empresa-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="empresa">Id de la Empresa:</label>
        <div class="col-md-6">
          <input type="number" th:field="*{empresa}" class="form-control" id="empresa" required="required"></div>
      </div>
    </div>




    <!--Boton para enviar todo y ejecutar accion -->
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success">Crear Movimiento</button>
      </div>
    </div>

  </form>

  <br>
  <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>

</div>
</body>
</html>