<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=3.0, maximum-scale=1.0, minimum-scale=3.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>AmbientSoft</title>
    <link rel="stylesheet" href="style/style.css">
    <!--    <style>-->
<!--p {outline-color:black;}-->
<!--p.double {outline-style: double;}-->
<!--</style>-->
    <style type="text/css">
    #texto{display:none; font-weight: bold; margin:1px 5px;}
    </style>
</head>
<body>
    <main>
        <div class="px-6 py-10 my-10 text-center">
            <img src="img/logo.png" class="logo" height="100" alt="Software"/>
            <h1 class="titulo">Bienvenidos a nuestro proyecto</h1>
            <div class="contenedorPrincipal">
                <div>
                    <p class="titulo2">En Springboot</p>
                </div>

                <div class="contenedorBotones">
                    <!--Boton ingresar-->
                    <div sec:authorize="!isAuthenticated()" class="divIngresar">
<!--                   <a  class="btn btn-primary btn-lg px-4 gap-3">Ingresar</a>-->
                        <a th:href="@{/oauth2/authorization/auth0}" class="botones btn btn-primary btn-lg px-4 gap-3">Ingresar</a>
                    </div>
                    <!--Boton Continuar-->
                    <div sec:authorize="isAuthenticated()" class="divContinuar">
                        <h3 th:text="'Bienvenido, ' + ${Usuario.getCorreo}"></h3>
                        <br>
                        <a th:href="@{/MovimientosDinero}" class="botones btn btn-primary btn-lg px-4 gap-3">Continuar</a>
                        <br>
                        <br>
                    <div class="botonInformacion">
<!--                        Boton informacion-->
                        <button type="button" id="ver" class="botones btn btn-outline-secondary btn-lg px-4">Más información</button>
                        <br>

                        <p id="texto"> Este es un proyecto en colaboración para los movimientos de transacción
                            de empresas el cual fue desarrollado durante 4 sprint complementando su estructura atraves del back-end
                            y el front-end durante el transcurso del ciclo.
                         </p>

                        <script>
                          $(function(){
                            $('#ver').click(function(){
                              $('#texto').toggle();
                            });
                          })
                        </script>
                    </div>
                    </div>
                </div>
<!--                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Saber más</button>-->
            </div>
        </div>
    </main>
<!--Hola html-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>